.event-types-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.event-type-item:hover{
  background-color: #eeeeee;
}

.event-type-item {
  flex-grow: 2;
  flex-shrink: 1;
  border: 1px solid #3f90e7;
  border-radius: 4px;
  margin-right: 2px;
  padding: 3px;
  cursor: pointer;
}
