<button mat-button *ngIf="!isAuthenticated" (click)="onLogin()" >Sign In</button>
<div *ngIf="isAuthenticated" class="dropdown">
  <a class="dropdown-toggle"
     style="cursor: pointer"
     role="button"
     data-toggle="dropdown"
     aria-haspopup="true"
     aria-expanded="true">
    <img *ngIf="user !== null"
         [src]="user.picture_uri"
         [title]="user.full_name"
         [alt]="user.full_name"
         referrerpolicy="no-referrer"/>
  </a>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item logout-btn" (click)="onLogout()"  *ngIf="isAuthenticated">Logout</a>
  </div>
</div>
