<div class="event-type-item" [ngStyle]="getEventTypeItemStyle()">
    <div class="item-container"
         (click)="toggleEventType()">
        <mat-icon [attr.data-is-selected]="isSelected">done</mat-icon>
        <span class="event-type-title">{{eventType.name}}</span>
        <div class="tool-bar">
            <button mat-icon-button class="edit-btn" color="primary" (click)="onEditEventType($event)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="delete-btn" color="primary" (click)="onDeleteEventType($event)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>
