.tool-bar {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
}

button > mat-icon {
  font-size: 16px;
}

.event-of-day:hover > .tool-bar {
  display: flex;
}

.event-of-day {
  display: flex;
  align-items: center;
  justify-content: center;
}
