<div class="container">
  <app-month-pages [currentMonth]="currentMonth"></app-month-pages>
  <app-event-type-list></app-event-type-list>
  <div class="row text-center" [ngStyle]="{'margin-bottom': '5px' }">
    <div class="col-lg">Sunday</div>
    <div class="col-lg">Monday</div>
    <div class="col-lg">Tuesday</div>
    <div class="col-lg">Wednesday</div>
    <div class="col-lg">Thursday</div>
    <div class="col-lg">Friday</div>
    <div class="col-lg">Saturday</div>
  </div>
  <div class="row text-center"
       *ngFor="let week of weeks; index as weekIndex">
    <div class="col-lg"
         *ngFor="let day of week.days; index as i">
      <app-day-of-month [currentMonth]="currentMonth"
                        [day]="day"
                        [isLastWeek]="weekIndex === weeks.length-1"
                        [occurrenceEvents]="getOccurrences(day)"
                        [durationEvents]="getDurations(day)"
      >
      </app-day-of-month>
    </div>
  </div>
</div>
