<div [ngClass]="isToday ? 'today' : ''"
     [ngStyle]="{'height': '100%'}"
     [matMenuTriggerFor]="appMenu"
>
  <div class="day-title">{{dayModel.day}}</div>
  <mat-menu #appMenu="matMenu" overlapTrigger>
    <ng-template matMenuContent>
      <button mat-menu-item (click)="createOccurrenceEvent()">
        <mat-icon>event</mat-icon>
        <span>New Occurrence</span>
      </button>
      <button mat-menu-item (click)="createDurationEvent()">
        <mat-icon>date_range</mat-icon>
        <span>New Duration</span>
      </button>
    </ng-template>
  </mat-menu>

  <app-event-of-day [totalEventCount]="getTotalVisibleTypeCount(occurrenceEvents, durationEvents)"
                    [eventOfDay]="eventOfDay"
                    [prevEventOfDay]="i > 0 ? occurrenceEvents[i-1] : null"
                    (delete)="deleteEvent.emit($event)"
                    *ngFor="let eventOfDay of occurrenceEvents; index as i">
  </app-event-of-day>
  <app-event-of-day [totalEventCount]="getTotalVisibleTypeCount(occurrenceEvents, durationEvents)"
                    [eventOfDay]="eventOfDay"
                    [prevEventOfDay]="i > 0 ? durationEvents[i-1] : getLastOccurrence()"
                    (delete)="deleteEvent.emit($event)"
                    *ngFor="let eventOfDay of durationEvents; index as i">
  </app-event-of-day>
</div>
