<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h3>Business concept</h3>
      <p>
        Event Analytics intended to increase self-awareness and become a useful daily tool to organize and reflect on daily routines.
      </p>
      <h3>Implementation concept</h3>
      <p>Event Analytics consist of three subsystems:</p>
      <ul>
        <li><h4>Operational subsystem</h4>
          allows to create event types, events themselves, tags, etc
        </li>
        <li><h4>View subsystem</h4>
          present events in a way interesting and useful for end-users to make a trivial analytics. For example, I can see how many days a year I was ill. Or How many days a year I had
          procrastination. As each day is colored with an event type color, it is trival and inspirable to see the number of days events occurred, or the length of events changed during a
          year? month, etc.
        </li>
        <li> <h4>Analytical subsystem</h4>
          provides report based on statics methods, MI, etc that can provide a useful and inspirable information about ourselves.
        </li>
      </ul>
    </div>
  </div>
</div>
