<div class="container">
  <app-month-pages></app-month-pages>
  <div class="row text-center" [ngStyle]="{'margin-bottom': '5px' }">
    <div class="col-md">Sunday</div>
    <div class="col-md">Monday</div>
    <div class="col-md">Tuesday</div>
    <div class="col-md">Wednesday</div>
    <div class="col-md">Thursday</div>
    <div class="col-md">Friday</div>
    <div class="col-md">Saturday</div>
  </div>
  <div class="row text-center"
       *ngFor="let week of weeks; index as weekIndex">
    <div class="col-md"
         *ngFor="let day of week.days; index as i">
      <app-day-of-month [day]="day" [isLastWeek]="weekIndex === weeks.length-1"></app-day-of-month>
    </div>
  </div>
</div>
